body {
  font-family: 'Noto Sans', sans-serif;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tex-name {
  font-variant: small-caps;
  font-weight: 600;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.teaser-figure {
  padding-top: 0;
  padding-bottom: 2rem;
}

.teaser-figure img {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.coming-soon {
  opacity: 0.6;
  cursor: not-allowed;
}

.coming-soon:hover {
  background-color: #363636 !important;
}

